.main {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
}

.pic1 {
    width: 150px;
    margin-left: 40px;
}

.list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 20px;

}

.list li {
    cursor: pointer;
}

.list2 {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.pic2 {
    height: 30px;
    width: 30px;
}
.pic2:hover {
    transform:scale(1.3);

}

.pic3 {
    height: 30px;
    width: 30px;
}
.pic3:hover {
    transform: scale(1.1); 
}

.btn1 {
    background: transparent;
    font-size: 16px;
    color: #49577e;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid orange;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 10px;
}

.btn1:hover {
    background-color:orange;}

.active {
    padding-bottom: 2px;   
    border-bottom: 1px solid #49577e;
}
ul a{
    text-decoration: none;
    color: inherit;
}

.navbar-profile{
    position: relative;
}
.navbar-profile-dropdown{
    position: absolute;
    display:none;
    right:0;
    z-index:1;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap:10px;
    background-color: #fff2ef;
    padding:12px 25px;
    border-radius:4px;
    border:1px solid red;
    outline: 2px solid white;
    list-style: none;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    cursor:pointer;
    gap: 10px;
}
.navbar-profile-dropdown img{
    width: 20px;
}
.navbar-profile-dropdown li:hover{
    color:red;
}

@media (max-width:1050px) {
    .pic1{
        width: 120px;
        
    }
    .list{
        gap:15px;
        font-size: 15px;
    }
    .list2{
        gap:20px;
    }
    .pic2{
        width: 22px;
    }
    .pic3{
        width: 22px;
    }
    .btn1{
        padding: 8px 15px;
    }

    
}
@media (max-width:900px) {
    .pic1{
        width: 100px;
       
    }
    .list{
        gap:15px;
        font-size: 13px;
    }
    .list2{
        gap:20px;
    }
    .pic2{
        width: 20px;
    }
    .pic3{
        width: 20px;
    }
    .btn1{
        padding: 5px 13px;
    }

}
@media (max-width:750px) {
    .pic1{
        width: 70px;
    }
    .list{
      display:none;
    }
    .main{
        margin-bottom: 140px;
    }
       
}
@media (max-width:740px) {
    .main{
        margin-bottom: 160px;
    }
}
@media (max-width:540px) {
    .main{
        margin-bottom: 200px;
    }
}       
@media (max-width:500px) {
    .main{
        margin-bottom: 220px;
    }
}
@media (max-width:480px) {
    .main{
        margin-bottom: 230px;
    }
}
@media (max-width:440px) {
    .main{
        margin-bottom: 240px;
    }
}
@media (max-width:370px) {
    .main{
        margin-bottom: 280px;
    }
}